.topnav {
  font-family: 'Ubuntu', sans-serif;
  background-color: #2fedea;
  height: 50px;
  position: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
}

.topnav h1 {
  float: left;
  font-size: 2vw;
  color: #5a6666;
  font-family: 'Ubuntu', sans-serif;
  margin: 5px 20px;
}

.topnav a { 
    color: #5a6666;
    font-size: 2vw;
    float: right;
    font-family: 'Ubuntu', sans-serif;
    margin: 5px 30px;
}

.topnav a:hover {
  color: rgb(51, 51, 51);
}

.footer {
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gainsboro;
  color: grey;
}

.footer a {
  float: right;
  padding: 10px 10px
}

.body {
  padding-top: 50px;
}

