@media screen and (max-width: 600px) {
  .topnavresponsive {position: relative;}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnavresponsive {position: relative;}
  .topnav a:nth-child(4) {display: none;}
  .topnav a:nth-child(5) {display: none;}
  .topnav a:nth-child(6) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  .topnavresponsive {position: relative;}
  .topnav a:nth-child(7) {display: none;}
  .topnav a:nth-child(8) {display: none;}
  .topnav a:nth-child(9) {display: none;}
  .topnav a.icon {
    background-color:#FAE042;
    padding: 20px;
    float: right;
    display: block;
  }
}

.topnav {
    background-color: #FAE042;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.topnav a { 
    color: #000000;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    float: left;
    padding: 7.5px 1.5vw;
    border-width: 0.2vw;
}

.topnav a.icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 5px;
  display: block;
}

.topnav a:hover {
  border-color: rgb(51, 51, 51);
}

.topnav a.active {
    background-color: #6bff77;
}

.topnav .icon {
  display: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gainsboro;
  color: grey;
  text-align: right;
}

.footer-text-left {
  font-size:3vw;
  padding-left:40px;
  float: right;
}

.footer-text-left a {
    font-size:1vw;
}

body { 
    color: #000000;
    font-family: monospace;
}

h1 {
    font-size:5vw;
    text-align: center;
    border-style: solid;
    border-color: darkcyan;
    border-radius: 5px;
    background-color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
}