<head>
    
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "2731b14f91a7487184ea0afb04262c85"}'></script>
    <!-- End Cloudflare Web Analytics -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SJE9X9JELH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168559693-1');
        gtag('config', 'G-56XGZH4V7K');
    </script>
    
    <meta http-equiv="refresh" content="1; URL=https://www.youtube.com/watch?v=IO9XlQrEt2Y">
</head>
<body>
    <p>If you are not redirected, <a href="https://www.youtube.com/watch?v=IO9XlQrEt2Y">click here</a>.</p>
</body>
